@page "/Profile"

<h3>Profile</h3>

<img src= "images/profile.jpg" alt="student image" />  
<h3>@studentName</h3>
<p>@courseName</p>
<p>@batchYear</p>


@code {
	String photopath = "images/student1.jpg";
	String studentName = "swikar";
	String courseName = ".NET MAUI";
	String batchYear = "2025";

}